<section class="section-about" id="about">
  <div class="container">
    <p class="section-about-headline">tradition and love</p>
    <h2 class="section-about-title">How it's made?</h2>
    <div class="section-about-main-content">
      <div class="section-about-main-content-picture">
        <picture class="section-about-primary-picture">
          <source srcset="./images/about/desktop/cow_desk_2x-min.png 2x, ./images/about/cow_desk_1x-min.png 1x"
            media="(min-width: 1200px)">
          <source srcset="./images/about/tablet/cow_tab_2x-min.png 2x, ./images/about/tablet/cow_tab_1x-min.png 1x"
            media="(min-width: 768px)">
          <source srcset="./images/about/mobile/cow_mob_2x-min.png 2x, ./images/about/mobile/cow_mob_1x-min.png 1x"
            media="(min-width: 480px)">
          <img class="primary-picture-cow" data-aos="fade-left" data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" src="./images/about/mobile/cow_mob_1x-min.png" alt="Cow" />
        </picture>
      </div>
      <div class="section-about-main-content-text">
        <p class="section-about-description">
          <b class="section-about-description-headline">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
            eros.
            Maecenas eleifend erat at justo fringilla.
          </b>
        </p>
        <p class="section-about-description-main">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
          placerat.
          Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="section-about-description-ending">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" data-modal-open class="section-about-button">Read more</button>
      </div>
    </div>
    <ul class="section-about-contain-list">
      <li class="section-about-contain-item">
        <picture class="section-about-contain-item-picture">
          <source
            srcset="./images/about/desktop/milk_bucket_desk_2x-min.png 2x, ./images/about/desktop/milk_bucket_desk_1x-min.png 1x"
            media="(min-width: 1200px)">
          <source
            srcset="./images/about/tablet/milk_bucket_tab_2x-min.png 2x, ./images/about/tablet/milk_bucket_tab_1x-min.png 1x"
            media="(min-width: 768px)">
          <source
            srcset="./images/about/mobile/milk_bucket_mob_2x-min.png 2x, ./images/about/mobile/milk_bucket_mob_1x-min.png 1x"
            media="(min-width: 480px)">
          <img src="./images/about/desktop/milk_bucket_desk_1x-min.png" alt="Milk bucket" />
        </picture>
        <span class="section-about-contain-item-figure">721</span>
        <p class="section-about-contain-item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="section-about-contain-item">
        <picture class="section-about-contain-item-picture">
          <source
            srcset="./images/about/desktop/fruit_bucket_desk_2x-min.png 2x, ./images/about/desktop/fruit_bucket_desk_1x-min.png 1x"
            media="(min-width: 1200px)">
          <source
            srcset="./images/about/tablet/fruit_bucket_tab_2x-min.png 2x, ./images/about/tablet/fruit_bucket_tab_1x-min.png 1x"
            media="(min-width: 768px)">
          <source
            srcset="./images/about/mobile/fruit_bucket_mob_2x-min.png 2x, ./images/about/mobile/fruit_bucket_mob_1x-min.png 1x"
            media="(min-width: 480px)">
          <img src="./images/about/desktop/fruit_bucket_desk_1x-min.png" alt="Fruit's bucket" />
        </picture>
        <span class="section-about-contain-item-figure">16kg</span>
        <p class="section-about-contain-item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      <li class="section-about-contain-item">
        <picture class="section-about-contain-item-picture">
          <source
            srcset="./images/about/desktop/heart_desk_2x-min.png 2x, ./images/about/desktop/heart_desk_1x-min.png 1x"
            media="(min-width: 1200px)">
          <source srcset="./images/about/tablet/heart_tab_2x-min.png 2x, ./images/about/tablet/heart_tab_1x-min.png 1x"
            media="(min-width: 768px)">
          <source srcset="./images/about/mobile/heart_mob_2x-min.png 2x, ./images/about/mobile/heart_mob_1x-min.png 1x"
            media="(min-width: 480px)">
          <img src="./images/about/desktop/heart_desk_1x-min.png" alt="Candy with shape of heart" />
        </picture>
        <span class="section-about-contain-item-figure">84</span>
        <p class="section-about-contain-item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
<!----------Modal Window-------------->
<div class="backdrop-about is-hidden" data-modal>
  <div class="modal-about">
    <button class="modal-about__close-btn" type="button" data-modal-close><span>&#10006;</span></button>
    <ul class="section-about-contain-list-modal">
      <li class="section-about-contain-item-modal">
        <picture class="section-about-contain-item-picture-modal">
          <source
            srcset="./images/about/desktop/milk_bucket_desk_2x-min.png 2x, ./images/about/desktop/milk_bucket_desk_1x-min.png 1x"
            media="(min-width: 1200px)">
          <source
            srcset="./images/about/tablet/milk_bucket_tab_2x-min.png 2x, ./images/about/tablet/milk_bucket_tab_1x-min.png 1x"
            media="(min-width: 768px)">
          <source
            srcset="./images/about/mobile/milk_bucket_mob_2x-min.png 2x, ./images/about/mobile/milk_bucket_mob_1x-min.png 1x"
            media="(min-width: 480px)">
          <img class="about-icons-modal" src="./images/about/desktop/milk_bucket_desk_1x-min.png" alt="Milk bucket" />
        </picture>
        <p class="section-about-contain-item-text-modal">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nihil nostrum blanditiis ullam fugiat.
        </p>
      </li>
      <li class="section-about-contain-item-modal">
        <p class="section-about-contain-item-text-modal">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita deserunt voluptatem debitis, accusantium
          nesciunt commodi?
        </p>
        <picture class="section-about-contain-item-picture-modal">
          <source
            srcset="./images/about/desktop/fruit_bucket_desk_2x-min.png 2x, ./images/about/desktop/fruit_bucket_desk_1x-min.png 1x"
            media="(min-width: 1200px)">
          <source
            srcset="./images/about/tablet/fruit_bucket_tab_2x-min.png 2x, ./images/about/tablet/fruit_bucket_tab_1x-min.png 1x"
            media="(min-width: 768px)">
          <source
            srcset="./images/about/mobile/fruit_bucket_mob_2x-min.png 2x, ./images/about/mobile/fruit_bucket_mob_1x-min.png 1x"
            media="(min-width: 480px)">
          <img class="about-icons-modal" src="./images/about/desktop/fruit_bucket_desk_1x-min.png"
            alt="Fruit's bucket" />
        </picture>
      <li class="section-about-contain-item-modal">
        <picture class="section-about-contain-item-picture-modal">
          <source
            srcset="./images/about/desktop/heart_desk_2x-min.png 2x, ./images/about/desktop/heart_desk_1x-min.png 1x"
            media="(min-width: 1200px)">
          <source srcset="./images/about/tablet/heart_tab_2x-min.png 2x, ./images/about/tablet/heart_tab_1x-min.png 1x"
            media="(min-width: 768px)">
          <source srcset="./images/about/mobile/heart_mob_2x-min.png 2x, ./images/about/mobile/heart_mob_1x-min.png 1x"
            media="(min-width: 480px)">
          <img class="about-icons-modal" src="./images/about/desktop/heart_desk_1x-min.png"
            alt="Candy with shape of heart" />
        </picture>
        <p class="section-about-contain-item-text-modal">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit enim id, dicta eos ad quia quod accusamus
          molestias?
        </p>
      </li>
    </ul>
  </div>
</div>