<section class="slayder" data-aos="zoom-in-up" ata-aos-anchor-placement="center-center" data-aos-offset="30000px" >
   <div class="container">
      <div class="wrapper-slayder">

         <div class="slayder__container">
            <picture>
               <source srcset="./images/costomer_reviews/x2/3x2.png 2x , ./images/costomer_reviews/3.png 1x" media="(min-width: 1200px)">
               <img class="slayder__img" src="./images/costomer_reviews/3.png" alt="Emily"/>
            </picture>
               <div class="text-tumb">
                  <p class="slayder__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
               </div>
               <div class="dots-tumb">
                  <span class="dots">•</span>
                  <span class="dots">•</span>
                  <span class="dots">•</span>
               </div>
            <p class="slayder__addr">Emily, Los Angeles</p>
         </div>

         <div class="slayder__container">
            <picture>
               <source srcset="./images/costomer_reviews/x2/2x2.png 2x , ./images/costomer_reviews/2.png 1x" media="(min-width: 1200px)">
               <img class="slayder__img" src="./images/costomer_reviews/2.png" alt="Roksi"/>
            </picture>
            <div class="text-tumb">
               <p class="slayder__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="dots-tumb">
               <span class="dots">•</span>
               <span class="dots">•</span>
               <span class="dots">•</span>
            </div>
            <p class="slayder__addr">Roksi, South Dakota</p>
         </div>

         <div class="slayder__container">
            <picture>
               <source srcset="./images/costomer_reviews/x2/1x2.png 2x , ./images/costomer_reviews/1.png 1x" media="(min-width: 1200px)">
               <img class="slayder__img" src="./images/costomer_reviews/1.png" alt="Brydjet"/>
            </picture>
            <div class="text-tumb">
               <p class="slayder__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="dots-tumb">
               <span class="dots">•</span>
               <span class="dots">•</span>
               <span class="dots">•</span>
            </div>
            <p class="slayder__addr">Brydjet, New York</p>
         </div>
      </div>
   </div>
</section>