<section class="gallery" data-aos="flip-down" data-aos-anchor-placement="center-bottom">
   <div class="container">
      <div class="gallery__container">
         <div class="gallery__column first">
            <div class="img__container">
               <picture>
                  <source srcset="./images/gallery/x2/1x2.png 2x, ./images/gallery/1.png 1x" media="(min-width: 1200px)">
                  <!-- <source srcset="./images/gallery/tablet/1.png 2x, ./images/gallery/tablet/1.png" media="(min-width: 768px)">
                  <source srcset="./images/gallery/mob/x2/1x2.png 2x, ./images/gallery/mob/1.png" media="(min-width: 320px)"> -->
                  <img class="gallery__img" src="./images/gallery/1.png" alt="Квіткове морозиво на палочці" title="Квіткове морозиво на палочці"/>
               </picture>
            </div>
         </div>
         <div class="gallery__column second">
            <div class="img__container">
               <picture>
                  <source srcset="./images/gallery/x2/2x2.png 2x, ./images/gallery/2.png 1x" media="(min-width: 1200px)">
                  <!-- <source srcset="./images/gallery/tablet/2.png 2x, ./images/gallery/tablet/2.png" media="(min-width: 768px)">
                  <source srcset="./images/gallery/mob/x2/2x2.png 2x, ./images/gallery/mob/2.png" media="(min-width: 320px)"> -->
                  <img class="gallery__img" src="./images/gallery/2.png" alt="Звичайний ріжок" title="Звичайний ріжок"/>
               </picture>
            </div>
            <div class="img__container">
               <picture>
                  <source srcset="./images/gallery/x2/3x2.png 2x, ./images/gallery/3.png 1x" media="(min-width: 1200px)">
                  <!-- <source srcset="./images/gallery/tablet/3.png 2x, ./images/gallery/tablet/3.png" media="(min-width: 768px)">
                  <source srcset="./images/gallery/mob/x2/3x2.png 2x, ./images/gallery/mob/3.png" media="(min-width: 320px)"> -->
                  <img class="gallery__img" src="./images/gallery/3.png" alt="Фруктовий льодик на палочці" title="Фруктовий лід на палочці"/>
               </picture>
            </div>
         </div>
         <div class="gallery__column gallery__column_big third">
            <div class="img__container img__container_big">
               <picture>
                  <source srcset="./images/gallery/x2/4x2.png 2x, ./images/gallery/4.png 1x" media="(min-width: 1200px)">
                  <!-- <source srcset="./images/gallery/tablet/4.png 2x, ./images/gallery/tablet/4.png" media="(min-width: 768px)">
                  <source srcset="./images/gallery/mob/x2/4x2.png 2x, ./images/gallery/mob/4.png" media="(min-width: 320px)"> -->
                  <img class="gallery__img" src="./images/gallery/4.png" alt="Глазурований фруктовий ріжок" title="Глазурований фруктовий ріжок"/>
               </picture>
            </div>
            <div class="img__container">
               <picture>
                  <source srcset="./images/gallery/x2/5x2.png 2x, ./images/gallery/5.png 1x" media="(min-width: 1200px)">
                  <!-- <source srcset="./images/gallery/tablet/5.png 2x, ./images/gallery/tablet/5.png" media="(min-width: 768px)">
                  <source srcset="./images/gallery/mob/x2/5x2.png 2x, ./images/gallery/mob/5.png" media="(min-width: 320px)"> -->
                  <img class="gallery__img" src="./images/gallery/5.png" alt="Молочний ріжок" title="Молочний ріжок"/>
               </picture>
            </div>
         </div>
         <div class="gallery__column fourth">
            <div class="img__container">
               <picture>
                  <source srcset="./images/gallery/x2/6x2.png 2x, ./images/gallery/6.png 1x" media="(min-width: 1200px)">
                  <!-- <source srcset="./images/gallery/tablet/6.png 2x, ./images/gallery/tablet/6.png" media="(min-width: 768px)">
                  <source srcset="./images/gallery/mob/x2/6x2.png 2x, ./images/gallery/mob/6.png" media="(min-width: 320px)"> -->
                  <img class="gallery__img" src="./images/gallery/6.png" alt="Фруктове морозиво в стаканчику" title="Фруктове морозиво в стаканчику"/>
               </picture>
            </div>
            <div class="img__container">
               <picture>
                  <source srcset="./images/gallery/x2/7x2.png 2x, ./images/gallery/7.png 1x" media="(min-width: 1200px)">
                  <!-- <source srcset="./images/gallery/tablet/7.png 2x, ./images/gallery/tablet/7.png" media="(min-width: 768px)">
                  <source srcset="./images/gallery/mob/x2/7x2.png 2x, ./images/gallery/mob/7.png" media="(min-width: 320px)"> -->
                  <img class="gallery__img" src="./images/gallery/7.png" alt="Морозиво коктейль в шоколадно-горіховім ріжку" title='Морозиво-коктейль - "Лісний оазис"'/>
               </picture>
            </div>
         </div>
         <div class="gallery__column fifth">
            <div class="img__container">
               <picture>
                  <source srcset="./images/gallery/x2/8x2.png 2x, ./images/gallery/8.png 1x" media="(min-width: 1200px)">
                  <!-- <source srcset="./images/gallery/tablet/8.png 2x, ./images/gallery/tablet/8.png" media="(min-width: 768px)">
                  <source srcset="./images/gallery/mob/x2/8x2.png 2x, ./images/gallery/mob/8.png" media="(min-width: 320px)"> -->
                  <img class="gallery__img" src="./images/gallery/8.png" alt="Морозиво для домашнього улюбленця" title="Морозиво для домашнього улюбленця"/>
               </picture>
            </div>
            <div class="img__container">
               <picture>
                  <source srcset="./images/gallery/x2/9x2.png 2x, ./images/gallery/9.png 1x" media="(min-width: 1200px)">
                  <!-- <source srcset="./images/gallery/tablet/9.png 2x, ./images/gallery/tablet/9.png" media="(min-width: 768px)">
                  <source srcset="./images/gallery/mob/x2/9x2.png 2x, ./images/gallery/mob/9.png" media="(min-width: 320px)"> -->
                  <img class="gallery__img" src="./images/gallery/9.png" alt="Шоколадний коктейль в склянці" title="Шоколадний коктейль в склянці"/>
               </picture>
            </div>
         </div>
         <div class="gallery__column sixth">
            <div class="img__container">
               <picture>
                  <source srcset="./images/gallery/x2/10x2.png 2x, ./images/gallery/10.png 1x" media="(min-width: 1200px)">
                  <!-- <source srcset="./images/gallery/tablet/10.png 2x, ./images/gallery/tablet/10.png" media="(min-width: 768px)">
                  <source srcset="./images/gallery/mob/x2/10x2.png 2x, ./images/gallery/mob/10.png" media="(min-width: 320px)"> -->
                  <img class="gallery__img" src="./images/gallery/10.png" alt="Донатс & Іce-cocktail" title="Донатс & Іce-cocktail"/>
               </picture>
            </div>
         </div>
      </div>
   </div>
   </section>