<header class="header">
  <div class="container">
    <nav class="header-nav">
      <div class="button-scroll logo"><a href="#home">
        <img
          srcset="./images/hero-header/logo.png 1x, ./images/hero-header/logo2@.png 2x"
          src="./images/hero-header/logo.png"
          width="199"
          alt="logo"
        >
      </a>
      </div>
      <menu class="navigation">
        <li class="navigation-item"><a class="navigation-link current" href="#home">Home</a></li>
        <li class="navigation-item"><a class="navigation-link" href="#about">About us</a></li>
        <li class="navigation-item"><a class="navigation-link" href="#about">How it’s made?</a></li>
        <li class="navigation-item"><a class="navigation-link" href="#products">Our products</a></li>
        <li class="navigation-item"><a class="navigation-link" href="#contacts">Contact</a></li>
      </menu>
    </nav>
    <button
      type="button"
      class="header-menu-button header-mobile-button is-open"
      data-menu-button
      aria-controls="menu-container"
      aria-expanded="false"
    >
      <svg class="burger svg-icon" width="20" height="20" aria-label="Переключатель мобильного меню">
        <use class="nav-icon" href="./images/sprite.svg#icon-menu_24px"></use>
        <use class="nav-menu icon-close nav" href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <button class="header-button button" data-menu-buy>Buy now</button>
  </div>

  <!-- Мобильное меню -->
  <div class="mobile-menu" id="menu-container" data-menu>
    <button class="button mobile-button" data-modal-mobile>Buy now</button>
    <ul class="mobile-menu__navigation">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link mobile-menu-link-current" href="#home">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#about">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#about">How it’s made?</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#products">Our products</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#contacts">Contact</a>
      </li>
    </ul>
  </div>

  <!--MODAL-->
  <div class="backdrop-hero is-hidden" data-modal-hero>
    <div class="modal-hero">
      <button class="modal__close" type="button" data-close-hero>
        <span class="modal__item">&#10005;</span>
      </button>
      <h2 class="modal__title">Купитье мороженку сейчас</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ea eius eos et excepturi fugit hic incidunt molestiae, nihil numquam perferendis placeat quaerat quasi qui rem repudiandae, vero voluptates! Autem, dolor in ipsa officia praesentium quisquam ratione rerum saepe voluptatem?   </p>
    </div>
  </div>
  <!--MODAL MENU-->
  <div class="backdrop-hero is-hidden" data-modal-mobile-menu>
    <div class="modal-hero">
      <button class="modal__close" type="button" data-close-mobile>
        <span class="modal__item">&#10005;</span>
      </button>
      <h2 class="modal__title">Купитье мороженку сейчас</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ea eius eos et excepturi fugit hic incidunt molestiae, nihil numquam perferendis placeat quaerat quasi qui rem repudiandae, vero voluptates! Autem, dolor in ipsa officia praesentium quisquam ratione rerum saepe voluptatem?   </p>
    </div>
  </div>
</header>
