<section id="home" class="hero">
  <div class="wrapper">
    <div class="container">
      <div class="title-block">
        <h1 class="hero-title">Ice cream made with <strong>passion</strong></h1>
        <div class="hero-wrap-button">
          <div class="button-scroll"><a class="button button-products" href="#products">Products</a></div>
          <div class="button-scroll"><a class="button" href="#about">How it’s made?</a></div>
        </div>
      </div>
      <div class="hero-left">
        <div class="hero-thumb">
          <picture>
            <source
              srcset="
          ./images/hero-header/milk2@.png 2x,
           ./images/hero-header/milk.png  1x
        "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
          ./images/hero-header/tab-milk2@.png 2x,
           ./images/hero-header/tab-milk.png  1x
        "
              media="(min-width: 768px)"
            />
            <img
              class="hero-ice"
              src="./images/hero-header/milk.png"
              alt="молоко"
            />
          </picture>
        </div>
        <div class="ice-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button class="hero-read-more">
            <svg class="read-icon" width="12" height="9" aria-label="Читать больше">
              <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>

      </div>
      <div class="hero-right">
        <picture>
          <source
            srcset="
              ./images/hero-header/woman2@.png 2x,
              ./images/hero-header/woman.png  1x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-header/tab-woman2@.png 2x,
              ./images/hero-header/tab-woman.png  1x
            "
            media="(min-width: 768px)"
          />
          <img
            class="hero-ice"
            src="./images/hero-header/tab-woman.png"
            alt="Девушка"
          />
        </picture>
      </div>
    </div>
  </div>
</section>