<section class="products-section" id="products">
  <div class="container">
    <div class="products">
      <span class="products-before">100% natural</span>
      <h2 class="products-title">products</h2>
      <ul class="products-list">
        <li class="products-link background-1">
          <picture>
            <source
              srcset="
                ./images/products/ice/ice-2x-desk.png 2x,
                ./images/products/ice/ice-1x-desk.png 1x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products/ice/ice-2x-tablet.png 2x,
                ./images/products/ice/ice-1x-tablet.png 1x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/products/ice/ice-2x.png 2x, ./images/products/ice/ice-1x.png 1x"
              media="(min-width: 320px)"
            />
            <img class="products-image" src="./images/products/ice/ice-1x.png" alt="Морозиво" />
          </picture>
          <h3 class="products-link-title">ice cream</h3>
          <p class="products-link-text">
            We implement the technology off preparation of frozen gelato, soft, frozen yogurt,
            ingredients and accessories for which we sell
          </p>
          <button class="products-button" type="button" data-modal-open-products>
            <svg class="products-icon" width="15" height="15">
              <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </li>

        <li class="products-link background-2">
          <picture>
            <source
              srcset="
                ./images/products/coffe/coffe-2x-desk.png 2x,
                ./images/products/coffe/coffe-1x-desk.png 1x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products/coffe/coffe-2x-tablet.png 2x,
                ./images/products/coffe/coffe-1x-tablet.png 1x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/coffe/coffe-2x.png 2x,
                ./images/products/coffe/coffe-1x.png 1x
              "
              media="(min-width: 320px)"
            />
            <img class="products-image" src="./images/products/coffe/coffe-1x.png" alt="Морозиво" />
          </picture>
          <h3 class="products-link-title">ice coffee</h3>
          <p class="products-link-text">
            We implement the technolugy off preparation of frozen gelato, soft, frozen yogurt,
            ingredients and accessories for which we sell
          </p>
          <button class="products-button" type="button" data-modal-open-products-2>
            <svg class="products-icon" width="15" height="15">
              <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </li>

        <li class="products-link background-3">
          <picture>
            <source
              srcset="
                ./images/products/ice-coffe/ice-coffe-2x-desk.png 2x,
                ./images/products/ice-coffe/ice-coffe-1x-desk.png 1x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/products/ice-coffe/ice-coffe-2x-tablet.png 2x,
                ./images/products/ice-coffe/ice-coffe-1x-tablet.png 1x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/ice-coffe/ice-coffe-2x.png 2x,
                ./images/products/ice-coffe/ice-coffe-1x.png 1x
              "
              media="(min-width: 320px)"
            />
            <img
              class="products-image"
              src="./images/products/ice-coffe/ice-coffe-1x.png"
              alt="Морозиво"
            />
          </picture>
          <h3 class="products-link-title">milkshakes</h3>
          <p class="products-link-text">
            We implement the technology off preparation of frozen gelato, soft, frozen yogurt,
            ingredients and accessories for which we sell
          </p>
          <button class="products-button" type="button" data-modal-open-products-3>
            <svg class="products-icon" width="15" height="15">
              <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>

<!--products-modal-1-->
<div class="products-modal__backdrop products-modal__hidden" data-modal-products>
  <div class="products-modal background-1">
    <iframe
      class="products-modal-video products-modal-1"
      src="https://www.youtube.com/embed/7gJIyHnD710?enablejsapi=1&version=3&playerapiid=ytplayer"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <button class="products-modal__close-btn btn-1" data-modal-close-products type="button">
      &#10006;
    </button>
  </div>
</div>

<!--products-modal-2-->
<div class="products-modal__backdrop products-modal__hidden" data-modal-products-2>
  <div class="products-modal background-2">
    <iframe
      class="products-modal-video products-modal-2"
      src="https://www.youtube.com/embed/2W-D2D9Ivl8?enablejsapi=1&version=3&playerapiid=ytplayer"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <button class="products-modal__close-btn btn-2" data-modal-close-products-2 type="button">
      &#10006;
    </button>
  </div>
</div>

<!--products-modal-3-->
<div class="products-modal__backdrop products-modal__hidden" data-modal-products-3>
  <div class="products-modal background-3">
    <iframe
      class="products-modal-video products-modal-3"
      src="https://www.youtube.com/embed/DWG--xG0i-A?enablejsapi=1&version=3&playerapiid=ytplayer"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <button class="products-modal__close-btn btn-3" data-modal-close-products-3 type="button">
      &#10006;
    </button>
  </div>
</div>
