.hero-title {
  max-width: 218px;
  //padding-top: 171px;
  display: inline-block;
  margin-top: 191px;
  font-family: Titan One, SansSerif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-color;
  z-index: 1;

  @media screen and (min-width: 768px) {
    margin-top: 102px;
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 169px;
    max-width: 277px;
    font-size: 38px;
    line-height: 1.16;
  }

  strong {
    display: inherit;
    font-size: 48px;
    line-height: 0.9;
    font-weight: inherit;
    color: $primary-text-color;

    @media screen and (min-width: 768px) {
      font-size: 34px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
    }
  }
}