
.section-about {
  padding-top: 125px;
  background-color: #FFF5F6;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/about/mobile/bgmade_mob_1x-min.png");
  @media screen and (min-width: 375px) {
    background-image: none;
  }
  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 139px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 140px;
    background-position: 50% 35%;
    background-image: url("../images/about/desktop/bgmade_second_desk_1x-min.png");
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 1920dpi),
    (min-resolution: 2dppx) {
      background-image: url("../images/about/desktop/bgmade_second_desk_2x-min.png");
    }
  }
}

.section-about-headline {
  margin-bottom: 0px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.section-about-title {
  margin-top: 15px;
  margin-bottom: 33px;
  width: 100%;

  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #D41443;
  @media screen and (min-width: 768px) {
    margin-top: 16px;
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.46;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 16px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 55px;
  }
}

.section-about-main-content {
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-picture {
      position: relative;
      width: 50%;
      top: -45px;
    }
  }
}

.section-about-main-content-text {
  width: 100%;
  padding-left: 30px;
  @media screen and (min-width: 768px) {
    width: 50%;
    padding-left: 17px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 74px;
  }
}

.section-about-description {
  margin-top: 39px;
  margin-bottom: 0;
  padding-right: 30px;
  width: 100%;

  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: #000000;
  @media screen and (min-width: 768px) {
    margin-top: 50px;
    padding-right: 0px;
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.section-about-description-main {
  margin-top: 42px;
  margin-bottom: 0;
  padding-right: 30px;


  width: 100%;
  text-align: left;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: #907E82;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    padding-right: 0px;

    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 35px;
    line-height: 1.94;
  }
}

.section-about-description-ending {
  margin-top: 20px;
  margin-bottom: 0;
  padding-right: 30px;

  width: 100%;
  text-align: left;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: #907E82;
  @media screen and (min-width: 768px) {
    margin-top: 18px;
    padding-right: 0px;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 35px;
    line-height: 1.94;
  }
}

.section-about-button {
  position: relative;
  height: 44px;
  margin-top: 17px;
  padding-left: 37px;
  padding-right: 58px;
  font-weight: 700;
  line-height: 1.3;
  white-space: pre;

  background: $white-color;
  color: $primary-text-color;
  border: none;
  border-radius: 22px;

  cursor: pointer;
  transition: background-color 250ms $timing-function;
  @media screen and (min-width: 768px) {
    margin-top: 62px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 45px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 37px;
    width: 8px;
    height: 10px;
    transform: translateY(-50%);
    background-image: url('../images/arrow-btn.svg');
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: #ECEBEB;
  }
}

.section-about-contain-list {
  text-align: left;
  padding-left: 0;
  margin-top: 39px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 100px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 39px;
  }
}

.section-about-contain-item {
  display: flex;
  flex-direction: column;
  text-align: left;

  &:not(:first-child) {
    margin-top: 38px;
    margin-left: 0;
  }

  @media screen and (min-width: 768px) {
    &:not(:first-child) {
      margin-top: 0;
      margin-left: 60px;
    }
  }
  @media screen and (min-width: 1280px) {
    &:not(:first-child) {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}


.section-about-contain-item-figure {
  display: inline-block;
  margin-top: 16px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  @media screen and (min-width: 768px) {
    margin-top: 36px;
    font-size: 48px;
    text-transform: none;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 40px;
    font-size: 58px;
  }
}

.section-about-contain-item-text {
  margin-bottom: 0;
  margin-top: 13px;
  padding-right: 70px;
  font-size: 12px;
  line-height: 1.7;

  color: #000000;
  @media screen and (min-width: 768px) {
    padding-right: 40px;
    font-size: 14px;
    line-height: 1.74;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 40px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.76;
  }
}

/*--------------------Modal Window---------------------------*/

.backdrop-about {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-about.is-hidden {
  opacity: 0;
  pointer-events: none;

  &.modal-about {
    transform: translate(-50%, -50%) scale(1, 5);
  }
}


.modal-about {
  position: absolute;
  width: 100%;
  max-width: 250px;
  height: 505px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    max-width: 350px;
  }
  @media screen and (min-width: 768px) {
    max-width: 450px;

    @media screen and (min-width: 1280px) {
      max-width: 528px;
    }
  }
}


.modal-about__close-btn {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 25px;
  right: 30px;
  border: none;
  background-color: #E17992;

  &:hover,
  &:focus {
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.section-about-contain-list-modal {
  padding: 45px 15px;
  background: #E17992;
  border-radius: 10px;

}

.section-about-contain-item-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;

  &:not(:first-child) {
    margin-top: 25px;
  }
}

.section-about-contain-item-text-modal {
  width: 80%;
  margin-bottom: 0;
  margin-top: 15px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 1.4;

  color: #FFFFFF;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.74;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.76;
  }
}

.section-about-contain-item-picture-modal {
  width: 20%;
  opacity: 1;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);

}

.about-icons-modal {
  margin: 0 auto;
}
